h1{
    color:white;
    font-family: 'Playfair Display', serif;
    font-size: 200px;
  }

h3{
    color:white;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
  }

  .btn {
    background-color: slategray;
    border: none;
    font-size: 15px;
    color: white;

}

.btn:hover {
    color:lightskyblue;
    transform: translateY(-10px);
}