h1{
    color:white;
    font-family: 'Playfair Display', serif;
    font-size: 250px;
}
h4{color:white}
 
    *{margin: 0px; padding: 0px;}
    ul{list-style: none;} 
    a{text-decoration: none;} 
     
    header{
        width: 800px; 
        height: 95px;
        position: relative;
    }
  
    #logo{
        position: absolute;
        top: 100px;
        left: 100px;
    }
     
    #top_menu{
        position: absolute;
        top: 20px;
        right: 10px;
        color: white;
    }
     
    nav{
        position: absolute;
        font-size: 25px;
    }
     
    nav li{
        display: inline;
        margin-left: 30px;
    }

     
    nav li a{color: white;}

    #page{width: 820px; margin: 0px auto;}

    .btn {
        background-color: slategray;
        border: none;
        font-size: 25px;
        color: white;
    
    }
